%section.purchase-detail
  %h1 #{@purchase}
  %h3.object-meta Purchase ##{@purchase.id} – created #{time_ago_in_words(@purchase.created_at)} ago on #{l @purchase.created_at, :format => :long}

  %hr/ 

  .row-fluid
  
    %section.content-section
      %h4 Purchase Info

      %dl.dl-horizontal
        %dt User
        %dd= link_to @purchase.user.full_name, admin_user_path(@purchase.user)

        %dt Coin Package
        %dd
          #{@purchase.coin_package.coins} coins —
          = link_to @purchase.coin_package.identifier, edit_admin_coin_package_path(@purchase.coin_package)

        %dt Status
        %dd
          %span{ :class => "label label-#{purchase_status_label(@purchase.status)}" }
            #{@purchase.status.capitalize}

    %section.content-section
      %h4
        Receipt Data
        %small — verified from Apple

      %dl
        - @purchase.verified_receipt.to_h.each do |key, value|
          %dt #{key}
          %dd #{value}

    / .form-actions
    / = link_to "Delete", admin_purchase_path(@purchase), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-danger'