.page-header
  %h1
    All Facebook Invites
    %small #{pluralize(@invites.count, 'Invite')} Total

- if @invites.present?
  = form_tag destroy_multiple_admin_facebook_invites_path do
    %table.table.table-striped
      %thead
        %tr
          %th 
          %th ID
          %th User
          %th Facebook ID
          %th Created
      
      %tbody
        - for invite in @invites
          %tr
            %td= check_box_tag "invites_to_delete[]", invite.id
            %td= invite.id
            %td= link_to invite.user, admin_user_path(invite.user)
            %td= invite.facebook_id
            %td #{l invite.created_at, :format => :long}

    .form-actions
      = submit_tag "Delete Invites", :class => 'btn btn-danger'

- else
  %p There aren't any Facebook Invites in the database.