.page-header
  %h1
    All Locations
    %small #{pluralize(@locations.count, 'Location')} Total

%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Location
      %th Country
      %th= image_tag 'foursquare-mini.png'
  
  %tbody
    - for location in @locations
      %tr
        %td #{location.id}
        %td 
          %b
            #{link_to location.admin_name, admin_location_path(location)}
          - if location.place.present?
            • #{location.location_name}
        %td #{location.country.name}
        %td 
          - if location.foursquare?
            = link_to 'Venue', location.foursquare_url, :target => '_blank'
          - else
            No
