.page-header
  .btn-group.pull-right
    = link_to 'All', admin_locations_path, :class => 'active btn'
    = link_to 'Cities', cities_admin_locations_path, :class => 'btn'
    = link_to 'Places', places_admin_locations_path, :class => 'btn'

  %h1
    All Locations
    %small #{pluralize(@locations.count, 'Location')} Total

= render 'location_list'