%section.user-detail
  %h1 #{@location}
  %h3.object-meta ##{@location.id}

  %hr/ 

  .row-fluid
    .span5
    
      %section.content-section
        %h4 Location Info

        %dl.dl-horizontal
          %dt Location ID
          %dd <code>#{@location.id}</code>

          %dt Name
          %dd #{@location.name}

          %dt Locality
          %dd #{@location.locality}

          %dt Admin Name
          %dd #{@location.admin_name}

          %dt Admin Code
          %dd #{@location.admin_code}

          %dt Country
          %dd #{@location.country.name}

          %dt Lat / Lng
          %dd= link_to "#{@location.latitude}, #{@location.longitude}", @location.google_map_url, :target => '_blank'

          %dt Created
          %dd #{@location.created_at}

        - if @location.foursquare?
          %section.content-section
          %h4 Foursquare
          
          %p= image_tag 'powered-by-foursquare.png', :class => 'foursquare-brandmark'

          %dl.dl-horizontal
            %dt Forusquare ID
            %dd <code>#{@location.foursquare_id}</code>

            %dt Venue URL
            %dd= link_to @location.foursquare_url, @location.foursquare_url, :target => "_blank"



      .form-actions
        = link_to "Delete", admin_location_path(@location), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-danger'

    .span7
      %ul.nav.nav-tabs.location-tabs
        %li= link_to "Activities Here", '#activities-at-location', :data => { :toggle => 'tab' }
        %li= link_to "Raw Object", '#raw-location-object', :data => { :toggle => 'tab' }
      
      %section.tab-content
        .tab-panel#activities-at-location
          - if @location.activities.exists?
            %p There's #{pluralize(@location.activities.count, 'activity')} going on here.

            %ul.activities-list
              - @location.activities.each do |activity|
                %li
                  %span.activity-meta #{activity.user} & #{activity.wing}
                  %span.activity-title #{link_to(activity.title, admin_activity_path(activity))}

          - else
            %p There are no activities associated with this location.

        .tab-panel#raw-location-object
          %h4 Raw Location Object
          = debug @location