%section.user-detail
  %h1
    #{@location}
    %small
      / #{(@user.facebook?) ? 'Facebook' : 'Email/Pass'} User &mdash;
      / Created #{l @user.created_at, :format => :long}

  .row-fluid
    .span6
    
      %section.content-section
        %h4 Location Info
        
        %dl.dl-horizontal
          %dt Location ID
          %dd #{@location.id}

          %dt Name
          %dd #{@location.name}

          %dt Locality
          %dd #{@location.locality}

          %dt Admin Name
          %dd #{@location.admin_name}

          %dt Admin Code
          %dd #{@location.admin_code}

          %dt Country
          %dd #{@location.country.name}

          %dt Lat / Lng
          %dd= link_to "#{@location.latitude}, #{@location.longitude}", @location.google_map_url, :target => '_blank'

          %dt Created
          %dd #{@location.created_at}


      .form-actions
        = link_to "Delete", admin_location_path(@location), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-danger'

    .span6
      %h4 Raw Location Object
      = debug @location