.page-header
  .btn-group.pull-right
    = link_to 'All', admin_locations_path, :class => 'btn'
    = link_to 'Cities', cities_admin_locations_path, :class => 'btn'
    = link_to 'Venues', venues_admin_locations_path, :class => 'active btn'

  %h1
    Venue Locations
    %small #{pluralize(@locations.count, 'Venue')} Total

= render 'location_list'