.page-header
  %h1
    Events
    %small #{pluralize(@events.count, 'Event')} Total


%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Event
      %th User
      %th Related
      %th Coins
      %th Occurred

  %tbody
    - for event in @events
      %tr
        %td #{event.id}

        %td
          %b #{event}
          %br/
          %small #{event.detail}
        %td #{event.user}

        %td 
          - if event.related?
            %span.label.label-info
              #{event.related.class}
            #{link_to event.related, url_for(event.related_admin_path)}

        %td 
          %span{ :class => "badge badge-#{badge_for_event(event)}" }
            #{event.cost_to_s}
        %td #{l event.created_at, :format => :long}

= paginate @events
