<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />
  <title><%= @subject || 'DoubleDate' %></title>
  
  <style type="text/css">
  * { margin: 0; padding: 0; }
  body { -webkit-font-smoothing: antialiased; }
  table tr#footer td p a:hover { opacity: 0.8; }

  @media only screen and (-webkit-min-device-pixel-ratio: 1.3),
         only screen and (-o-min-device-pixel-ratio: 13/10),
         only screen and (min-resolution: 120dpi) {
    
    h1.logo {
      background-image: url(<%= image_path('email/upper-logo@2x.png') %>) !important;
      background-size: 44px 66px;
    }

    table#table-wrapper td.wrapper-nw {
      background-image: url(<%= image_path('email/wrapper-nw@2x.png') %>) !important;
      background-size: 30px 130px;
    }

    table#table-wrapper td.wrapper-ne {
      background-image: url(<%= image_path('email/wrapper-ne@2x.png') %>) !important;
      background-size: 30px 130px;
    }

    table#table-wrapper td.wrapper-sw {
      background-image: url(<%= image_path('email/wrapper-sw@2x.png') %>) !important;
      background-size: 30px 12px;
    }

    table#table-wrapper td.wrapper-se {
      background-image: url(<%= image_path('email/wrapper-se@2x.png') %>) !important;
      background-size: 30px 12px;
    }

    table#table-wrapper td.wrapper-s {
      background-image: url(<%= image_path('email/wrapper-s@2x.png') %>) !important;
      background-size: 1px 12px;
    }

    table tr#footer .footer-right {
      background-image: url(<%= image_path('email/text-logo@2x.png') %>) !important;
      background-size: 111px 19px;
    }
  }  

  @media only screen and (max-width: 480px) { 
    table[id=outer-wrapper] { 
      width: 300px !important;
    }

    table#table-wrapper td.wrapper-n h2 {
      margin-top: 10px !important;
      font-size: 34px !important;
    }

    table#table-wrapper td.wrapper-n h3 {
      font-size: 16px !important;
    }

    table tr#footer .footer-left,
    table tr#footer .footer-right {
      width: 100%;
      display: block;
      float: none;
      text-align: left;
      background-position: 0 50%;
    }
  }
  </style>
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="background: #ff1178; font-family: HelveticaNeue, Helvetica, Arial, sans-serif;">
  <center>
    
    <table id="outer-wrapper" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="width: 80%; max-width: 680px; margin: 0;">
      <tr id="header">
        <td colspan="2" align="center" valign="top">
          <h1 class="logo" style="width: 44px; height: 66px; display: inline-block; background: url(<%= image_path('email/upper-logo.png') %>) 0 0 no-repeat; margin: 30px auto; text-indent: -9999em;"></h1>
        </td>
      </tr>
      
      <tr>
        <td colspan="2">
          <table id="table-wrapper" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
            <thead>
              <tr>
                <td class="wrapper-nw" width="30px" height="130px" style="background: url(<%= image_path('email/wrapper-nw.png') %>) top left no-repeat;"></td>
                <td class="wrapper-n" valign="top" style="background: url(<%= image_path('email/wrapper-n.png') %>) top left repeat-x; max-height: 130px; overflow: hidden; padding: 25px 0 0 0; text-shadow: 0 1px 0 #FFF;">
                  <h2 style="font-size: 48px; color: #ff1178; margin: 0 0 5px 0;">Hi <%= @user.first_name %>,</h2>
                  <h3 style="color: #7d7d7d; font-size: 20px; margin: 0;"><%= @subject %></h3>
                </td>
                <td class="wrapper-ne" width="30px" height="130px" style="background: url(<%= image_path('email/wrapper-ne.png') %>) top left no-repeat;"></td>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="wrapper-mid" colspan="3" style="padding: 20px 30px; background: #FFF; color: #444; font-size: 16px; line-height: 24px;" background="#FFF">
                  <p style="margin-bottom: 1em;">We're happy that you joined the family at this early stage!</p>

                  <p style="margin-bottom: 1em;"><b><%= RegistrationEvent::coin_value %> Coins</b> are already yours as a BIG THANK YOU for being an early adopter and joining our beta. There are lots of cool features in the pipeline, and surely some bugs we haven’t squashed. We’re hoping you’ll go a little easy on us while we're taking our baby steps. </p>

                  <p style="margin-bottom: 1em;"><b>In exchange for your patience and any hiccups</b> you might experience along the way to our 1.0 launch this summer, we’d like to make it up to you with a bunch of extra goodies. Expect lots of extras and sneak peaks at new features before anyone else. Come Summer, you'll be all set to rock our app in more ways then others!</p>

                  <p style="margin-bottom: 1em;"><b>What is DoubleDate?</b> It's all about going out in real-life in a group of four to have fun. Grab a friend and create a DoubleDate, or explore what others have created nearby. Girls or guys, straight or gay, single or taken... it doesn't matter here. Instead of browsing profiles and judging others on their looks or info, you browse things to do. We've gone back to basics. Who knows, you might make some new friends or meet someone special. Either way, you'll have a good time with DoubleDate.</p>

                  <p style="margin-bottom: 1em;"><b>What are Wings?</b> Your Wings are the friends that you go out with, and they're essential to DoubleDate. We hope that you'll share it with your close friends to pull them into the fun. For every friend you add, we'll give both of you some extra coins.</p>

                  <p style="margin-bottom: 1em;"><b>Whats next?</b> We’ve worked tremendously hard over the last few months to bring DoubleDate to life. Our first version is truly great, and we think you’ll really enjoy it. However, it’s far from perfect. Don't fear though, we've got a ton in store for you.</p>

                  <p style="margin-bottom: 1em;">Get ready for this summer to be more exciting then ever before!</p>

                  <p><cite>&mdash; Marcus &amp; Michael, Founders of DoubleDate</cite></p>
                </td>
              </tr>
            </tbody>

            <tfoot>
              <tr>
                <td class="wrapper-sw" height="12px" width="30px" style="background: url(<%= image_path('email/wrapper-sw.png') %>) 0 0 no-repeat;"></td>
                <td class="wrapper-s" height="12px" style="background: url(<%= image_path('email/wrapper-s.png') %>) 0 0 repeat-x;">&nbsp;</td>
                <td class="wrapper-se" height="12px" width="30px" style="background: url(<%= image_path('email/wrapper-se.png') %>) 0 0 no-repeat;"></td>
              </tr>
            </tfoot>
          </table>

        </td>
      </tr>

      <tr id="footer">
        <td colspan="2" style="padding: 10px 30px; color: #FFF; font-size: 13px;">
          <div class="footer-left" style="float: left; display: inline-block; width: 50%;">
            <p style="line-height: 20px;">
              <b>&copy; 2013 DoubleDate</b> — <%= link_to 'dbld8.com', root_url, :style => "color: #FFF; text-decoration: none;" %><br/>
              <%= link_to 'Terms', terms_url, :style => "color: #FFF; text-decoration: none;" %> •
              <%= link_to 'Privacy', privacy_url, :style => "color: #FFF; text-decoration: none;" %> •
              <%= mail_to 'hello@dbld8.com', 'Contact Us', :style => "color: #FFF; text-decoration: none;" %>
            </p>
          </div>
          <div class="footer-right" style="float: left; display: inline-block; width: 50%; display: block; height: 35px; background: url(<%= image_path('email/text-logo.png') %>) 100% 50% no-repeat;"></div>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table>

  </center>
</body>
</html>