- content_for :title, @title

.page-header
  %h1
    = yield(:title)
    %small Showing #{@engagements.count} of #{Engagement.count}

- if @engagements.empty?
  %p There aren't any engagements.

- else
  %table.table.table-striped
    %thead
      %tr
        %th ID
        %th Users
        %th Activity
        %th Created
        %th Unlocked
        %th Ignored
    
    %tbody
      - for engagement in @engagements
        %tr
          %td #{engagement.id}
          %td 
            %b
              = link_to engagement.participants.join(" & "), [:admin, engagement]
          %td 
            = link_to engagement.activity, [:admin, engagement.activity]
            %br/
            #{engagement.activity.location}
          %td #{l engagement.created_at, :format => :medium}
          
          %td
            #{engagement.status.capitalize}
            - if engagement.unlocked?
              %br/
              %em
                #{distance_of_time_in_words_to_now(engagement.expires_at)} remaining
          
          %td 
            - if engagement.ignored?
              Ignored

          