%section.engagement-detail
  %ul.breadcrumb
    %li
      = link_to @activity, admin_activity_path(@activity)
      %span.divider
        \/
    %li.active
      = @engagement.participant_names

  %h1 
    Engagement for "#{@activity}"
  
  %h3.object-meta 
    By #{@engagement.participant_names}, Created #{time_ago_in_words(@engagement.created_at)} ago

  %hr/

  .row-fluid
    .span5
      
      %section.content-section
        %h4 Basic Info
        %dl.dl-horizontal
          %dt Ignored?
          %dd= yesno(@engagement.ignored)

          %dt Unlocked?
          %dd= yesno(@engagement.unlocked)

          %dt Engagement User
          %dd #{link_to @engagement.user, admin_user_path(@engagement.user)}

          %dt Engagement Wing
          %dd #{link_to @engagement.wing, admin_user_path(@engagement.wing)}

          %dt Activity User
          %dd #{link_to @activity.user, admin_user_path(@activity.user)}

          %dt Activity Wing
          %dd #{link_to @activity.wing, admin_user_path(@activity.wing)}        
        

      .form-actions
        - unless @engagement.unlocked?
          = link_to "Unlock", '#unlock-modal', :class => 'btn btn-primary', :data => { :toggle => 'modal' }
        = link_to "Delete Engagement", admin_engagement_path(@engagement), :method => :delete, :confirm => "Are you sure you want to delete this engagement?", :class => 'btn btn-danger'

      - unless @engagement.unlocked?
        #unlock-modal.modal.hide.fade
          .modal-header
            %button{ :class => 'close', 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
              &times;
            %h3 Unlock this Engagement
          .modal-body
            %p Who would you like to unlock this engagement as?
            
            .row-fluid
              .span6
                .div{ :align => 'center' }
                  %p
                    = image_tag @activity.user.photo.thumb, :class => 'img-rounded', :width => '100px'
                  %p
                    = link_to @activity.user, '#', :class => 'btn btn-primary unlock-engagement', :data => { :engagement => @engagement.id, :user => @activity.wing.id }

              .span6
                .div{ :align => 'center' }
                  %p
                    = image_tag @activity.wing.photo.thumb, :class => 'img-rounded', :width => '100px'
                  %p 
                    = link_to @activity.wing, '#', :class => 'btn btn-primary unlock-engagement', :data => { :engagement => @engagement.id, :user => @activity.wing.id }

          .modal-footer
            = link_to 'Cancel', '#', :class => 'btn', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'

    .span7
      %ul.nav.nav-tabs.location-tabs
        %li= link_to "Messages", '#engagement-messages', :data => { :toggle => 'tab' }
        %li= link_to "Raw Object", '#raw-object', :data => { :toggle => 'tab' }

      %section.tab-content
        .tab-panel#engagement-messages
          %h4 
            Messages
            %span.badge.badge-info #{@engagement.messages.count}
          - @engagement.messages.each do |message|
            
            .media
              .pull-left
                = image_tag message.user.photo.thumb, :class => 'img-rounded media-object', :width => "50px", :height => "50px"
              
              .media-body
                %h5.media-heading
                  #{message.user}
                  %small
                    #{time_ago_in_words(message.created_at)} ago

                %p
                  #{message}
        
        .tab-panel#raw-object
          %h4 Raw Activity Object
          = debug @engagement