.page-header
  %h1
    Credit Actions
    %small #{pluralize(@credit_actions.count, 'Action')} Total

%p These are the <b>market values</b> for user actions. Updating a cost here will change the cost of performing those actions going forward. Exising user actions will not change. 

%p This will allow us to adjust the pricing as we see fit, on the fly, without effecting past behavior.

%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Slug
      %th Credit Cost
      %th Mapped Class
      %th Last Updated

  %tbody
    - for action in @credit_actions
      %tr{ :class => (action.earns?) ? 'success' : 'error' }
        %td #{action.id}

        %td
          %b
            #{link_to action.slug, edit_admin_credit_action_path(action)}

        %td #{action.cost}
        %td <i>#{action.mapped}</i>
        %td #{l action.updated_at, :format => :medium}

%hr/

= link_to 'New Credit Action', new_admin_credit_action_path, :class => 'btn'