%section.activity-detail
  %h1 #{@credit_action}
  
  %h3.object-meta Last Updated #{l @credit_action.updated_at, :format => :long}

  %hr/

  .row-fluid
    .span6
      
      %p This is #{@credit_action.earns? ? 'an earning' : 'a spending'} type of action which will #{@credit_action.earns? ? 'give the user' : 'take from the user'} #{pluralize(@credit_action.cost.abs, 'credit')}.
        
      .form-actions
        = link_to "Delete Activity", admin_credit_actions_path(@credit_action), :method => :delete, :confirm => "Are you sure you want to delete this credit action?", :class => 'btn btn-danger'

    .span6
      %h4 Raw Credit Action Object
      = debug @credit_action