- dd_url = "doubledate://invite:#{@user.compact_uuid}"

- content_for :head do
  %meta{ :name => 'apple-itunes-app', :content => "app-id=XXXXXXXXX, app-argument=#{dd_url}" }

%section#invite
  %h3 #{@user.first_name} wants you to be #{@user.gender_posessive} wingman on DoubleDate!

  %p.description
    DoubleDate lets you and a friend go out and have a good time. <i>Guy or girl, it doesn't matter.</i>
    %br/
    Go DoubleDate and <strong>have more fun!</strong>

  %p= link_to "I have DoubleDate, add #{@user.first_name} as a Wingman", dd_url, :class => 'btn btn-primary btn-large'
  %p.or OR
  %p= link_to "Download DoubleDate from App Store", "http://itunes.apple.com/en/app/DoubleDate/idXXXXXXXXX?mt=8", :class => 'btn'
