- dd_url = "doubledate://invite?#{@user.invite_slug}"

- content_for :head do
  %meta{ :name => 'apple-itunes-app', :content => "app-id=XXXXXXXXX, app-argument=#{dd_url}" }

%section#invite
  %h3 #{@user.first_name} wants you to be <br/>#{@user.gender_posessive} wing on DoubleDate!

  %p.description
    It's not all about love, it's about having a good time. 
    %br/
    Let's go have some fun on a DoubleDate.

  %p= link_to "Add #{@user.first_name} as a Wing", dd_url, :class => 'btn btn-primary btn-large'
  
  %p.or OR

  %p= link_to "Get DoubleDate from the App Store", "http://itunes.apple.com/en/app/DoubleDate/idXXXXXXXXX?mt=8", :class => 'btn'
