- provide :title, (@user.present?) ? t('.title', user_name: @user.first_name) : t('.alt_title')

%header
  %h1= link_to "DoubleDate", root_url

#content  
  .invite-landing
    - if @user.present?
      .user-photo-wrapper
        .inset
        = image_tag @user.photo.medium.url, :class => 'user-photo'
      %h3= t('.primary_text', user_name: @user.first_name, his_or_her: @user.gender_posessive)
    - else
      .missing
        %h3 #{t('.missing')} :(
        %p= t('.missing_detail')

    %hr/
    
    %p= t('.secondary_text')

.lower-glass-shadow
#lower-glass
  .glass-sheet#sheet-step1
    - if @user.present?
      = link_to t('.accept_invite'), app_invite_url_for_user(@user), :class => 'action-btn', :id => 'accept-invite-btn'
    - else
      = link_to t('.get_doubledate'), appstore_path, :class => 'action-btn', :id => 'download-app'