- provide :title, (@user) ? "Join #{@user.first_name} on DoubleDate!" : "Grab a friend and DoubleDate"

- dd_url = (@user) ? "#{Rails.configuration.ios_prefix}://invite/#{@user.invite_slug}" : "#{Rails.configuration.ios_prefix}://welcome"

- content_for :head do
  %meta{ :name => 'apple-itunes-app', :content => "app-id=#{Rails.configuration.app_id}, app-argument=#{dd_url}" }

%header
  %h1 
    = link_to "DoubleDate", root_url

#content  
  .invite-landing
    - if @user
      .user-photo-wrapper
        .inset
        = image_tag @user.photo.medium.url, :class => 'user-photo'
      %h3 #{@user.first_name} wants you to be #{@user.gender_posessive} wing on DoubleDate!
    - else
      .missing
        %h3 Missing Invite :(
        %p DoubleDate couldn't find the user that sent you this invite.

    %hr/
    
    %p DoubleDate is an exciting new way to get out and meet new people. It's free, so grab a friend, go out, and have fun.



.lower-glass-shadow
#lower-glass
  .glass-sheet#sheet-step1
    - if @user
      = link_to "Accept Wing Invite", dd_url, :class => 'action-btn', :id => 'accept-invite-btn'
    - else
      = link_to "Get DoubleDate", appstore_path, :class => 'action-btn', :id => 'download-app'

  / .lower-glass-sheet#sheet-step2
  /   %p Looks like you need to get the app first
  /   = link_to "Get DoubleDate on the App Store", appstore_path, :class => 'btn'