= form_for([:admin, @friendship]) do |f|

  %fieldset
    - if @friendship.errors.any?
      .alert.alert-error.alert-block
        %h4 Please fix the following #{pluralize(@friendship.errors.count, "error")}:
        - @friendship.errors.full_messages.each do |msg|
          %ul
            %li= msg

    .field.title
      = f.label :user_id, 'User ID'
      = f.text_field :user_id

    .field
      = f.label :friend_id, 'Friend ID'
      = f.text_field :friend_id

    .field.checkfield
      / = f.label :approved, 'Approved'
      %label
        = f.check_box :approved
        Approved

    .form-actions
      = f.submit :class => 'btn btn-primary'
      = link_to 'Cancel', :back, :class => 'btn'