.page-header
  %h1
    User Actions
    %small #{pluralize(@user_actions.count, 'Action')} Total


%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Action
      %th User
      %th Credit Cost
      %th Occurred

  %tbody
    - for action in @user_actions
      %tr{ :class => (action.earns?) ? 'success' : 'error' }
        %td #{action.id}

        %td
          %b
            #{action}
        %td #{action.user}

        %td #{action.cost_to_s}
        %td #{l action.created_at, :format => :long}

%hr/

= link_to 'New Credit Action', new_admin_credit_action_path, :class => 'btn'