%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Title
      %th Owner
      %th Wingman
      %th Preference
      %th Engagements
      %th Created
      %th Last Activity
  
  %tbody
    - for activity in @activities
      %tr
        %td #{activity.id}
        %td 
          %p
            %b
              #{link_to activity, admin_activity_path(activity)}
            %br/
            %small
              #{activity.location.full_name}
        
        %td #{link_to activity.user, admin_user_path(activity.user)}
        %td #{link_to activity.wing, admin_user_path(activity.wing)}
        %td #{activity.preference}
        %td #{activity.engagements.count}
        %td #{l activity.created_at, :format => :medium}
        %td #{time_ago_in_words(activity.updated_at)} ago