%section.activity-detail
  %h1 
    #{@activity}
    - if @activity.location.present?
      %small
        = (@activity.location.venue?) ? 'at' : 'in'
        #{@activity.location}
  
  %h3.object-meta ##{@activity.id}, Created #{l @activity.created_at, :format => :long} (#{time_ago_in_words(@activity.created_at)} ago)

  %hr/

  .row-fluid
    .span5
      
      %section.content-section
        %h4 Details
        %p #{@activity.details}

      %section.content-section
        %h4 Participants
        %dl.dl-horizontal
          %dt Creator
          %dd #{link_to @activity.user, admin_user_path(@activity.user)}

          %dt Wingman
          %dd #{link_to @activity.wing, admin_user_path(@activity.wing)}
        
      %section.content-section
        %h4 Basic Info
        
        %dl.dl-horizontal
          %dt Activity ID
          %dd #{@activity.id}

          %dt Preference
          %dd #{@activity.preference}

          %dt Location
          %dd
            - if @activity.location.present?
              #{link_to @activity.location, admin_location_path(@activity.location)}
            - else
              No location defined.

          %dt Created
          %dd #{l @activity.created_at, :format => :long}


      .form-actions
        = link_to "Delete Activity", admin_activity_path(@activity), :method => :delete, :confirm => "Are you sure you want to delete this activity?", :class => 'btn btn-danger'

    .span7
      %ul.nav.nav-tabs.location-tabs
        %li= link_to "Engagements", '#incoming-engagements', :data => { :toggle => 'tab' }
        %li= link_to "Raw Object", '#raw-object', :data => { :toggle => 'tab' }

      %section.tab-content
        .tab-panel#incoming-engagements
          - if @activity.engagements.present?
            %p There's #{pluralize(@activity.engagements.count, 'engagement')} for this activity.

            %ul.generic-object-list
              - @activity.engagements.each do |engagement|
                %li
                  %span.object-title 
                    - if engagement.ignored?
                      %span.label.label-warning Ignored
                    - elsif engagement.unlocked?
                      %span.label.label-info Unlocked
                    = link_to engagement.participant_names, admin_engagement_path(engagement)
                  %span.object-detail 
                    Sent #{l engagement.created_at, :format => :long}

          - else
            %p There are no engagements for this activity.

        .tab-panel#raw-object
          %h4 Raw Activity Object
          = debug @activity