.page-header
  %h1
    All Users
    %small #{pluralize(@users.count, 'User')} Total

%table.table.table-striped
  %thead
    %tr
      %th ID
      %th 
      %th Name
      %th Email
      %th Location
      %th FB ID
      %th Age
      %th Gender
      %th Status
      %th Created
      %th Auth'd
  
  %tbody
    - for user in @users
      %tr{ :class => user.facebook? ? 'info' : '' }
        %td #{user.id}
        %td
          - if user.profile_photo.present?
            =image_tag user.photo.thumb, :class => 'img-circle', :width => "20px", :height => "20px"
        %td 
          %b
            #{link_to user, admin_user_path(user)}
        %td #{user.email}
        %td #{user.location}
        %td #{user.facebook_id}
        %td #{age_from_birthday(user.birthday)}
        %td #{user.gender.titlecase}
        %td #{user.status}
        %td #{l user.created_at, :format => :medium}
        %td #{user.token.present? ? 'Yes' : ''}