- content_for :title, 'Users'

.page-header
  %h1
    = yield(:title)
    %small Showing #{@users.count} of #{User.count}

%table.table.table-striped
  %thead
    %tr
      %th ID
      %th 
      %th Name
      %th Location
      %th Status
      %th Joined
      %th Last Activity

  %tbody
    - for user in @users
      %tr
        %td #{user.id}
        %td
          = image_tag user.photo.thumb, :class => 'img-rounded', :width => "40px", :height => "40px"
        %td 
          %b #{link_to user.full_name, admin_user_path(user)}
          %br/
          #{user.gender.titlecase}, #{user.age}
        %td #{user.location}
        %td #{user.status}
        %td #{l user.created_at, :format => :medium}
        %td #{time_ago_in_words(user.updated_at)} ago

= paginate @users