%section.user-detail
  %h1
    #{@user}
    %small
      #{@user.class} – ##{@user.id}

  %hr/ 

  .row-fluid
    .span6
      .row-fluid
        .span7
          %section.content-section
            %h4 Bio
            - if @user.bio.present?
              %blockquote= @user.bio
            - else
              %p The bio for #{@user} is blank.

            %h4
              Interests
              %span.badge.badge-info #{@user.interests.count}
            %p #{@user.interests.to_sentence}

          %section.content-section
            %h4 DBLD8 Auth Token
            %p
              - if @user.token.present?
                = text_field_tag 'token', @user.token, :readonly => true, :class => 'input-xlarge'
              - else
                This user hasn't authenticated yet. Tokens are created on first login.

          %section.content-section
            %h4 Coins
            %p #{@user.first_name} has <b>#{pluralize(@user.total_coins, 'coin')}.</b>

        .span5
          %section.content-section
            %h4 Photo
            %p
              =image_tag @user.photo.thumb, :class => 'img-rounded'
            %p 
              = link_to 'All Photos by Size', photos_admin_user_path(@user), :class => 'btn btn-primary'

      %hr/
    
      %section.content-section
        %h4 Basic Info
        %dl.dl-horizontal
          %dt User ID
          %dd #{@user.id}

          %dt UUID
          %dd
            %code #{@user.uuid}

          %dt Email
          %dd #{mail_to @user.email}

          %dt Facebook ID
          %dd 
            - if @user.is_a?(FacebookUser)
              #{@user.facebook_id}
            - else
              N/A

          %dt Birthday
          %dd #{l @user.birthday, :format => :long} &mdash; #{@user.age} Years Old

          %dt Status
          %dd #{@user.status}

          %dt Interested In?
          %dd #{@user.interested_in.titlecase}

          %dt Gender
          %dd #{@user.gender.titlecase}

          %dt Created
          %dd #{@user.created_at}

      %hr/

      %section.content-section
        %h4 Invitation

        %dl.dl-horizontal
          %dt Slug
          %dd <code>#{@user.invite_slug}</code>

          %dt URL
          %dd #{link_to(user_invitation_url(@user.invite_slug), user_invitation_url(@user.invite_slug), :target => '_blank')}

      %hr/

      %section.content-section  
        %h4 Location
        %p
          - if @user.location.present?
            #{link_to @user.location, admin_location_path(@user.location)}
          - else
            No location defined.

      .form-actions
        = link_to "Delete", admin_user_path(@user), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-danger'

    .span6
      %ul.nav.nav-tabs
        %li= link_to "Events", '#user-events', :data => { :toggle => 'tab' }
        %li= link_to "Friends", '#user-friends', :data => { :toggle => 'tab' }
        %li= link_to "Activities", '#user-activities', :data => { :toggle => 'tab' }
        %li= link_to "Notifications", '#user-notifications', :data => { :toggle => 'tab' }
        %li= link_to "Raw Object", '#raw-object', :data => { :toggle => 'tab' }

      %section.tab-content
        .tab-panel#user-events
          %h4
            Events
            - if @user.events.present?
              %span.badge.badge-info #{@user.events.count}

          - if @user.events.blank?
            %p #{@user.first_name} doesn't have any events.

          %ul.generic-object-list
            - @user.events.each do |event|
              %li
                %span.object-title
                  #{event.detail} 
                  - if event.related.present?
                    #{link_to '∞', url_for(event.related_admin_path)}
                %span.object-detail
                  #{time_ago_in_words(event.created_at)} ago

        .tab-panel#user-friends
          %h4
            Friends
            - if @user.friends.present?
              %span.badge.badge-info #{@user.friends.count}

          - if @user.friends.blank?
            %p #{@user.first_name} doesn't have any events.
          
          %ul.generic-object-list
            - @user.friends.each do |friend|
              %li
                %span.object-title
                  = link_to friend, admin_user_path(friend)
                %span.object-detail
                  #{friend.location}

        .tab-panel#user-activities
          %h4
            Activities
            - unless @user.my_activities.blank?
              %span.badge.badge-info #{@user.activities.count}

          - if @user.my_activities.blank?
            %p #{@user.first_name} hasn't created any activities.
          
          %ul.generic-object-list
            - @user.my_activities.each do |activity|
              %li
                %span.object-title
                  = link_to activity, admin_activity_path(activity)
                %span.object-detail
                  with #{link_to activity.wing, admin_user_path(activity.wing)} @ #{activity.location}

        .tab-panel#user-notifications
          %h4
            Notifications
            - unless @user.notifications.blank?
              %span.badge.badge-info #{@user.notifications.count}

          - if @user.notifications.blank?
            %p #{@user.first_name} does not have any notifications.
          
          %ul.generic-object-list
            - @user.notifications.each do |notification|
              %li
                %span.object-title
                  = link_to notification, url_for(notification.event.related_admin_path)
                %span.object-detail
                  #{time_ago_in_words(notification.created_at)} ago
          
        .tab-panel#raw-object
          %h4
            Raw User Object
          = debug @user

      