%section.user-detail
  %h1
    #{@user}
    %small
      #{(@user.facebook?) ? 'Facebook' : 'Email/Pass'} User &mdash;
      Created #{l @user.created_at, :format => :long}

  .row-fluid
    .span6

      %section.content-section
        %h4 Bio
        %blockquote
          = @user.bio

      %section.content-section
        %h4 DBLD8 Token: 
        %p
          - if @user.token.present?
            %code #{@user.token}
          - else
            This user hasn't authenticated yet. Tokens are created on first login.
    
      %section.content-section
        %h4 Basic Info
        %dl.dl-horizontal
          %dt User ID
          %dd #{@user.id}

          %dt Email
          %dd #{mail_to @user.email}

          %dt Facebook ID
          %dd 
            - if @user.facebook?
              #{@user.facebook_id}
            - else
              N/A

          %dt Birthday
          %dd #{l @user.birthday, :format => :long}

          %dt Status
          %dd #{@user.status}

          %dt Interested In?
          %dd #{@user.interested_in.titlecase}

          %dt Gender
          %dd #{@user.gender.titlecase}

          %dt Created
          %dd #{@user.created_at}

      %section.content-section
        %h4
          Interests
          %span.badge.badge-info #{@user.interests.count}
        %p #{@user.interests.to_sentence}

      %section.content-section  
        %h4 Location
        %p
          - if @user.location.present?
            #{link_to @user.location, admin_location_path(@user.location)}
          - else
            No location defined.

      .form-actions
        = link_to "Delete", admin_user_path(@user), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-danger'

    .span6
      %h4 Raw User Object
      = debug @user