%footer
  %p
    <b>&copy; 2013 #{link_to('DoubleDate', root_url)}</b>
    — 
    = link_to 'Download from the App Store', itunes_url
    
    %br/
    
    = link_to 'Terms', terms_url
    •
    = link_to 'Privacy', privacy_url
    •
    = mail_to 'hello@dbld8.com', 'Contact Us'

:plain
  <script type="text/javascript">
    var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackLink","trackForm","trackClick","trackSubmit","pageview","ab","alias","ready"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
    analytics.load("87kenlubi3");
  </script>