!!! 5
%html
  %head
    %meta{:content => "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width", :name => "viewport"}    
    %title= admin_title(yield(:title))
    
    %link{ :rel => 'icon', :type => 'image/x-icon', :href => asset_path('favicon.png') }

    = stylesheet_link_tag "admin/admin", :media => "all"
    = csrf_meta_tags

    = yield(:head)

  %body{ :id => "#{params[:controller]}-section", :class => "#{body_class(yield(:extra_body_classes))}" }
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          = link_to 'DoubleDate', admin_path, :class => 'brand'
          %ul.nav
            %li.active= link_to 'Home', admin_path
            %li= link_to 'API Docs (Github)', 'https://github.com/whalesalad/dbld8/wiki', :target => '_blank'

    .container-fluid
      .row-fluid
        .span2
          - if content_for? :sidebar
            = yield :sidebar
          - else
            .well.sidebar-nav
              %ul.nav.nav-list
                / <li class="nav-header">List header</li>
                %li.nav-header
                  Internal

                %li{ :class => current_section?(:controller => "users") ? 'active' : '' }
                  = awesome_nav('user', "Users", admin_users_path) 

                %li{ :class => current_section?(:controller => 'activities') ? 'active' : '' }
                  = awesome_nav('coffee', "Activities", admin_activities_path)

                %li{ :class => current_section?(:controller => 'engagements') ? 'active' : '' }
                  = awesome_nav('envelope-alt', "Engagements", admin_engagements_path)                 

                %li{ :class => current_section?(:controller => 'events') ? 'active' : '' }
                  = awesome_nav('star', "Events", admin_events_path)

                %li{ :class => current_section?(:controller => "friendships") ? 'active' : '' }
                  = awesome_nav('group', "Friendships", admin_friendships_path)

                %li{ :class => current_section?(:controller => 'locations') ? 'active' : '' }
                  = awesome_nav('map-marker', "Locations", admin_locations_path)

                %li{ :class => current_section?(:controller => 'coin_packages') ? 'active' : '' }
                  = awesome_nav('barcode', "Coin Packages", admin_coin_packages_path)

                %li{ :class => current_section?(:controller => 'purchases') ? 'active' : '' }
                  = awesome_nav('money', "Purchases", admin_purchases_path)

                %li.nav-header
                  Services

                %li
                  = awesome_nav('cog', "Sidekiq", admin_sidekiq_path)

        .span10
          - if flash.present?
            %section.alerts
            - flash.each do |name, msg|
              %div{:class => "alert alert-#{name}"}
                .message= msg if msg.is_a?(String)

          = yield


    = javascript_include_tag "admin"