!!! 5
%html
  %head
    %meta{ :content => "width=device-width", :name => "viewport" }

    %title= full_title(yield(:title))
    
    = stylesheet_link_tag    "application", :media => "all"
    - # = csrf_meta_tags
    - # = yield(:head)
  
  %body{ :id => "#{params[:controller]}-section", :class => "#{body_class(yield(:extra_body_classes))}" }
  
    #wrapper
      = yield
    
    - # = javascript_include_tag "application"